@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    width: 100%;
    font-size: 16px;
    background-color: black;
    padding: 20px;
    font-family: 'Overpass', sans-serif;
}

.card{
    width: 40%;
    color: white;
    border-radius: 20px;
    padding: 50px;
    margin: 20px auto 0;
    text-align: center;
    background: linear-gradient(135deg, #99ddccbd, rgba(85, 187, 85, 0.151));
}

.search{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.search input{
    border: 0;
    outline: none;
    color: #555;
    background-color: #ebfffc;
    border-radius: 20px;
    padding: 20px;
    font-size: 18px;
    flex: 1;
    margin-right: 25px;
    height: 40px;
}

.search button{
    border: 0;
    outline: none;
    cursor: pointer;
    background-color: #ebfffc;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
}

.error{
    text-align: left;
    margin-top: 10px;
    font-weight: bolder;
    color: rgba(165, 30, 30, 0.623);
    display: none;
}

.weather-icon{
    width: 350px;
    margin-top: 15px;
}

.weather{
    display: none;
}

.weather h2{
    font-size: 50px;
    font-weight: 500;
}

.weather h3{
    margin-top: -10px;
}

.details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.col{
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
}

.col img{
    width: 70px;
    margin-right: 10px;
}